# Data Cleaning

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
%matplotlib inline

In [12]:
# read data and check first few rows
plane_df = pd.read_csv('2018.csv')
plane_df.head()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2018-01-01,UA,2429,EWR,DEN,1517,1512.0,-5.0,15.0,1527.0,...,268.0,250.0,225.0,1605.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,UA,2427,LAS,SFO,1115,1107.0,-8.0,11.0,1118.0,...,99.0,83.0,65.0,414.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,UA,2426,SNA,DEN,1335,1330.0,-5.0,15.0,1345.0,...,134.0,126.0,106.0,846.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,UA,2425,RSW,ORD,1546,1552.0,6.0,19.0,1611.0,...,190.0,182.0,157.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,UA,2424,ORD,ALB,630,650.0,20.0,13.0,703.0,...,112.0,106.0,83.0,723.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Check the data types
plane_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213446 entries, 0 to 7213445
Data columns (total 28 columns):
 #   Column               Dtype
---  ------               -----
 0   FL_DATE              object
 1   OP_CARRIER           object
 2   OP_CARRIER_FL_NUM    int64
 3   ORIGIN               object
 4   DEST                 object
 5   CRS_DEP_TIME         int64
 6   DEP_TIME             float64
 7   DEP_DELAY            float64
 8   TAXI_OUT             float64
 9   WHEELS_OFF           float64
 10  WHEELS_ON            float64
 11  TAXI_IN              float64
 12  CRS_ARR_TIME         int64
 13  ARR_TIME             float64
 14  ARR_DELAY            float64
 15  CANCELLED            float64
 16  CANCELLATION_CODE    object
 17  DIVERTED             float64
 18  CRS_ELAPSED_TIME     float64
 19  ACTUAL_ELAPSED_TIME  float64
 20  AIR_TIME             float64
 21  DISTANCE             float64
 22  CARRIER_DELAY        float64
 23  WEATHER_DELAY        float64
 24  NAS_DELAY            float64
 25  SECURITY_DELAY       float64
 26  LATE_AIRCRAFT_DELAY  float64
 27  Unnamed: 27          float64
dtypes: float64(20), int64(3), object(5)
memory usage: 1.5+ GB

There are 28 columns in this dataset. Categorical are labelled as C and Numerical are labelled as N:

* FL_DATE: Date of the flight, yy/mm/dd (N)
* OP_CARRIER: Airline Identifier (C)
* OP_CARRIER_FL_NUM: Flight Number (C)
* ORIGIN: Starting Airport Code (C)
* DEST: Destination Airport Code (C)
* CRS_DEP_TIME: Planned Departure Time (N)
* DEP_TIME: Actual Departure Time (N)
* DEP_DELAY: Total Delay on Departure in minutes (N)
* TAXI_OUT: The time duration elapsed between departure from the origin airport gate and wheels off (N)
* WHEELS_OFF: The time point that the aircraft's wheels leave the ground (N)
* WHEELS_ON: The time point that the aircraft's wheels touch on the ground (N)
* TAXI_IN: The time duration elapsed between wheels-on and gate arrival at the destination airport (N)
* CRS_ARR_TIME: Planned arrival time (N)
* ARR_TIME: Actual Arrival Time (N)
* ARR_DELAY: Total Delay on Arrival in minutes (N)
* CANCELLED: Flight Cancelled (1 = cancelled) (C)
* CANCELLATION_CODE: Reason for Cancellation of flight: A - Airline/Carrier; B - Weather; C - National Air System; D - Security (C)
* DIVERTED: Aircraft landed on airport that out of schedule (C)
* CRS_ELAPSED_TIME: Planned time amount needed for the flight trip (N)
* ACTUAL_ELAPSED_TIME: AIR_TIME+TAXI_IN+TAXI_OUT (N)
* AIR_TIME: The time duration between wheels_off and wheels_on time (N)
* DISTANCE: Distance between two airports (N)
* CARRIER_DELAY: Delay caused by the airline in minutes (C)
* WEATHER_DELAY: Delay caused by weather (C)
* NAS_DELAY: Delay caused by air system (C)
* SECURITY_DELAY Delay caused by security (C)
* LATE_AIRCRAFT_DELAY: Delay caused aircraft (C)
* Unnamed 27: Dummy column

In [4]:
#Drop dummy column
plane_df = plane_df.drop(columns=['Unnamed: 27'])

In [15]:
# Check for duplicate rows
duplicates = plane_df.duplicated()
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

 ## Dealing with Missing Values

In [3]:
#determine columns with missing values
sum_missing_values = plane_df.isna().sum()
print(sum_missing_values)

FL_DATE                      0
OP_CARRIER                   0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEST                         0
CRS_DEP_TIME                 0
DEP_TIME                112317
DEP_DELAY               117234
TAXI_OUT                115830
WHEELS_OFF              115829
WHEELS_ON               119246
TAXI_IN                 119246
CRS_ARR_TIME                 0
ARR_TIME                119245
ARR_DELAY               137040
CANCELLED                    0
CANCELLATION_CODE      7096862
DIVERTED                     0
CRS_ELAPSED_TIME            10
ACTUAL_ELAPSED_TIME     134442
AIR_TIME                134442
DISTANCE                     0
CARRIER_DELAY          5860736
WEATHER_DELAY          5860736
NAS_DELAY              5860736
SECURITY_DELAY         5860736
LATE_AIRCRAFT_DELAY    5860736
Unnamed: 27            7213446
dtype: int64

The **time duration** columns are: 'DEP_DELAY', 'TAXI_OUT', 'TAXI_IN', 'ARR_DELAY', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY'. The **time stamp** columns are: 'DEP_TIME', 'WHEELS_OFF', 'WHEELS_ON', 'CRS_DEP_TIME', 'CRS_ARR_TIME', 'ARR_TIME'. To deal with the missing values in these columns, they can all be replaced with 0.

The missing values in the 'CANCELLATION_CODE' column are all non-cancelled flights. To get rid of them, add another letter 'E' in this column for non-cancelled flights.

In [6]:
plane_df['CANCELLATION_CODE'].fillna('E', inplace=True) #E means plane isn't cancelled
plane_df['CANCELLATION_CODE'].unique()

array(['E', 'B', 'A', 'C', 'D'], dtype=object)

In [7]:
#replace missing duration values with 0
missing_duration_cols = ['DEP_DELAY', 'TAXI_OUT', 'TAXI_IN', 'ARR_DELAY', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']

for col in missing_duration_cols:
    plane_df[col].fillna(0, inplace=True)

In [8]:
check_duration_na_fix = plane_df.isna().sum()
print(check_duration_na_fix)

FL_DATE                     0
OP_CARRIER                  0
OP_CARRIER_FL_NUM           0
ORIGIN                      0
DEST                        0
CRS_DEP_TIME                0
DEP_TIME               112317
DEP_DELAY                   0
TAXI_OUT                    0
WHEELS_OFF             115829
WHEELS_ON              119246
TAXI_IN                     0
CRS_ARR_TIME                0
ARR_TIME               119245
ARR_DELAY                   0
CANCELLED                   0
CANCELLATION_CODE           0
DIVERTED                    0
CRS_ELAPSED_TIME            0
ACTUAL_ELAPSED_TIME         0
AIR_TIME                    0
DISTANCE                    0
CARRIER_DELAY               0
WEATHER_DELAY               0
NAS_DELAY                   0
SECURITY_DELAY              0
LATE_AIRCRAFT_DELAY         0
dtype: int64

In [9]:
#replace missing time values with 0
time_columns = ['DEP_TIME', 'WHEELS_OFF', 'WHEELS_ON', 'CRS_DEP_TIME', 'CRS_ARR_TIME', 'ARR_TIME']

for col in time_columns:
    plane_df[col].fillna(0, inplace=True)

In [10]:
check_duration_na_fix = plane_df.isna().sum()
print(check_duration_na_fix)

FL_DATE                0
OP_CARRIER             0
OP_CARRIER_FL_NUM      0
ORIGIN                 0
DEST                   0
CRS_DEP_TIME           0
DEP_TIME               0
DEP_DELAY              0
TAXI_OUT               0
WHEELS_OFF             0
WHEELS_ON              0
TAXI_IN                0
CRS_ARR_TIME           0
ARR_TIME               0
ARR_DELAY              0
CANCELLED              0
CANCELLATION_CODE      0
DIVERTED               0
CRS_ELAPSED_TIME       0
ACTUAL_ELAPSED_TIME    0
AIR_TIME               0
DISTANCE               0
CARRIER_DELAY          0
WEATHER_DELAY          0
NAS_DELAY              0
SECURITY_DELAY         0
LATE_AIRCRAFT_DELAY    0
dtype: int64

The FL_DATE column is currently of type string. In order to use it for the analyses, convert it to datetime type.

In [11]:
#update fl_date to date type
plane_df['FL_DATE']=pd.to_datetime(plane_df['FL_DATE'])

plane_df['FL_DATE']

0         2018-01-01
1         2018-01-01
2         2018-01-01
3         2018-01-01
4         2018-01-01
             ...
7213441   2018-12-31
7213442   2018-12-31
7213443   2018-12-31
7213444   2018-12-31
7213445   2018-12-31
Name: FL_DATE, Length: 7213446, dtype: datetime64[ns]